<nav class="admin_nav">
  <div class="admin_nav-list">
    <div class="list-item">
      <img src="/images/titlelogo.png" alt="" />
      <ul class="nav_list-item">
        <li class=""><a href="/admin">Dashboard</a></li>
        <li class=""><a href="/admin/members">Members</a></li>
        <li class=""><a href="/admin/edits">Edits</a></li>
        <li class=""><a href="/admin/add-contribution">Contribution</a></li>
        <li class=""><a href="/admin/departments">Departments</a></li>
        <li class=""><a href="/admin/pledges">Pledges</a></li>
      </ul>
    </div>
  </div>
</nav>
