<nav class="nav">
  <div class="nav_logo">
    <a href="/"><img src="images/logo.png" alt="logo" /></a>
  </div>

  <div class="openMenu" id="open">
    <i class="fas fa-bars"></i>
  </div>

  <ul class="nav_list-item">
    <li class=""><a href="/">Home</a></li>
    <li class=""><a href="/location">Location</a></li>
    <li class=""><a href="/about-us">About Us</a></li>
    <li class=""><a href="/connect">Connect</a></li>
    <li class=""><a href="/events">Events</a></li>
    <li class=""><a href="/watch-live">Live</a></li>
    <li class=""><a href="/log-in">Log In</a></li>
    <li class="closeMenu" id="close"><i class="fas fa-times"></i></li>
  </ul>
</nav>
