.admin_nav {
  padding: 0.5rem;
  display: flex;

  .admin_nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .list-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      img {
        width: 11rem;
        margin-right: 5rem;
        margin-left: 5rem;
      }
    }
  }
}
