<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs')%>
    <title>Watch Live</title>
  </head>
  <body>
    <header class="content_header">
        
        <%- include('./partials/navigation.ejs')%>

      <div class="live-stream">
        <div
          class="fb-video"
          data-href="https://www.facebook.com/upciloiloctw/videos/951983488904318/"
          data-allowfullscreen="true"
          data-width="1000"
        ></div>
      </div>

      <img src="../images/smoke.png" alt="" class="content_header-smoke" />
    </header>

    <footer class="main_footer">
      <div class="main_footer-logo">
        <span>united pentecostal church</span>
        <h3>christian tabernacle of worship</h3>
      </div>
      <div class="main_footer-verse">
        <span
          >“Trust in the LORD with all your heart, and do not lean on your own
          understanding. In all your ways acknowledge him, and he will make
          straight your paths.”</span
        ><br />
        <span><i>Proverbs 3:5-6: </i></span>
        <div class="social-details">
          <div class="social">
            <img src="../images/facebook2.png" alt="icon" />
            <a href="https://www.facebook.com/upciloiloctw"
              >facebook.com/upciloiloctw</a
            >
          </div>
          <div class="social phone">
            <img src="../images/phone.png" alt="icon" />
            <span>0919 405 6460</span>
          </div>
          <div class="social">
            <img src="../images/mail4.png" alt="icon" />
            <a>christiantabernacle@gmail.com</a>
          </div>
          <div class="social social-map">
            <img src="../images/map.png" alt="icon" />
            <a href="https://goo.gl/maps/2Qr7tBqvx3PgHHMX6" target="_blank"
              >Brgy Nonoy, Valeria Extension, Iloilo City Proper, Iloilo
              City.</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script
      async
      defer
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"
    ></script>
  </body>
</html>
